<%= form_with(model: freind, local: true) do |form| %>
  <% if freind.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(freind.errors.count, "error") %> prohibited this freind from being saved:</h2>

      <ul>
      <% freind.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
 
  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :freind_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :freind_last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :freind_email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :freind_phone %>
  </div>

  <div class="field">
    <%= form.label :insta %>
    <%= form.text_field :insta, id: :freind_insta %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
