
  <p id="notice"><%= notice %></p>

<div class="jumbotron">
    <h1 class="display-4">
      <p>
        <%= @freind.first_name %>, <%= @freind.last_name %>
      </p>
    </h1>
  <p class="lead">
    <p>
      <strong>Email:</strong>
      <%= @freind.email %> | 
      
      <strong>Phone:</strong>
      <%= @freind.phone %> | 
      
      <strong>Insta:</strong>
      <%= @freind.insta %>
    </p>
  </p>

  <hr class="my-4">
    <p>
      <%= link_to 'Edit', edit_freind_path(@freind), class:"btn btn-secondary" %>
      <%= link_to 'Back', freinds_path, class:"btn btn-secondary" %>
    </p>
  
</div>
